* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: aquamarine;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.inserir-cep {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  border-radius: 8px;
}

.entrada:not(:last-child) {
  margin-bottom: 20px;
}

input,
textarea,
button {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 1px solid rgb(51, 114, 93);
}

button {
  border: none;
  background-color: rgb(51, 114, 93);
  color: #fafafa;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(70, 130, 110);
}

.imagem-erro img {
  margin-top: 20px;
  width: 100%;
}
